.home {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.home h1 {
}

.home p {
  font-weight: 500;
}

.workoutList {
  list-style: none;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
}

.workoutList p {
  font-family: "Poppins", sans-serif;
  padding-top:10px ;
  font-weight: bold;
}

.allButton, .workoutList button {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  display: flex;
  background-color: #ADFF00;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid black;
  cursor: pointer;
  
}

.allButton {
  background-color: white;
  margin-top: 1rem;
  text-align: left;
}

.library {
  font-family: "Poppins", sans-serif;
}

.libButton {
  background-color: white !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
